.MainBar {
  background: white;
  z-index: 10;
  position: fixed;
  width: 100%;
  box-shadow: 0px -2px 7px rgb(0 0 0 / 15%);
  border-bottom: 1px solid lightgray;
  padding: 12px;
  height: 40px;
  display: flex;
}

.MainBar__filters {
  margin-left: 50px;
  width: 50%;
}

.MainBar__filters input {
  width: 100%;
}
